<div id="header"><%= @author.name%>'s Profile</div>

<p> <%= @author.email %> </p>
<p> <%= @author.facebook %></p>

<h3><%= link_to "Posts", author_posts_path(@author)%></h3>

<%= link_to 'Back', authors_path %>
<%= link_to 'Home', root_path %>