<div id="header">
	<%= @post.title %> - <%= l @post.created_at, :format => :short%>
</div>

<article>
	<%= @post.content %>
</article>

<div class = "comment">
	<h4>Comments</h4>
	<% @post.comments.each do |comment|%>
	<p><%= comment.content%></p>
	<p><%= comment.name%></p>
	<p><%= comment.email%></p>
	<p></p>
	<% end %>
	<%=link_to "New Comment", new_author_post_comment_path(@post.author,@post)%>
	</div>

<p>
	<h4> Tags </h4> 
	<%@post.tags.each do |tag|%>
	<t><%= tag.name%></t>
	<% end %>
</p>

<p>
	<%= link_to 'Back', author_posts_path %>
	<%= link_to 'Home', root_path %>
</p>
